<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        let url = window.location.toString();
        if (url.indexOf("?") > 0) {
            let clean_uri = url.substring(0, url.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
        let query = url.substr(url.indexOf('?'));
    </script>
    <title>Answer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/answerQuestion/answerQuestion.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body id="<%= question._id %>">
<div id="top">
    <a href="<%= lastHref %>" class="backBtn"><i class="fas fa-long-arrow-alt-left"></i></a>
    <div class="container"><p id="event-name"><%= eventName %></p></div>
</div>
<div>
    <div class="container" style="padding-bottom: 0">
        <div class="question-box">
            <div class="people"><%= question.user.fullName %>&nbsp&nbsp&nbsp•</div>
            <% var date =  new Date(question.postTime) %>
            <div class="time">
                <%= date.toLocaleTimeString() %>
                &nbsp&nbsp&nbsp
                <%= date.getDate() + '/' + Number(date.getMonth() + 1) + '/' + date.getFullYear()%>
            </div>
            <div id="question-content"><span style="color: #325386d1; font-size: 18px;">Câu hỏi: </span><%= question.question %>
            </div>
        </div>
        <div>
            <button id="comment-button" class="comment-enter">Phản hồi (<span id="comment-number">0</span>)</button>
        </div>
    </div>
</div>
<div id="bottom">
    <div class="container">
        <textarea rows="5" cols="99" id="comment-text" placeholder="Nhập phản hồi của bạn..." maxlength="1000"
                       onfocus="display_enter()"></textarea>
        <br class="clear"/>
        <button id="enter-button" class="comment-enter" style="display: none;" onclick="add_Cmt()">Xong</button>
        <br class="clear"/>
        <div id="comment-box"></div>
        <br class="clear"/>
    </div>
</div>
<script>
    let userInfo = {
        id: '<%= userInfo._id %>',
        fullName: '<%= userInfo.fullName %>'
    }
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/answerQuestion/answerQuestion_1.js"></script>
<script src="/answerQuestion/answerQuestion_2.js"></script>
</body>
</html>