<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        let url = window.location.toString();
        let clean_uri = url.substring(0, url.indexOf("?"));
        window.history.replaceState({}, document.title, clean_uri);
        let query = url.substr(url.indexOf('?'));
    </script>
    <title>Asking Question</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/lecturerQuestion/lecturerQuestion.css">
</head>
<body id="<%= session._id %>">
<div id="header">
    <a href="<%= lastHref %>" class="back-btn"><i class="fas fa-long-arrow-alt-left"></i></a>
    <h1 id="event-name"><span>Tên bài giảng: </span><%= session.eventName %></h1>
    <p id="symbol"><i class="fas fa-book-reader"></i></p>
    <p id="user-id">Xin chào giảng viên <span></span></p>
</div>
<div id="body">
    <div id="form-input">
        <h4 id="title">Dưới đây là tất cả các câu hỏi được đặt ra</h4>
        <div id="report-modal" class="hidden">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" onclick="closeReportModal()">&times;</button>
                    <p>Thống kê khảo sát cho bài giảng: <span><%= session.eventName %></span></p>
                </div>
                <div class="modal-body">
                    <canvas id="report-chart" width="500" height="500"/>
                </div>
            </div>
        </div>
        <div id="feedback-modal" class="hidden">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" onclick="closeReportModal()">&times;</button>
                    <p>Các ý kiến đóng góp cho bài giảng: <span><%= session.eventName %></span></p>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
        <button id="survey-button" onclick="makeSurvey(this, <%= session.survey.isCreated %>)">
            Tạo khảo sát về giờ học
        </button>
        <button id="report-button" onclick="showReportModal()">
            Thống kê khảo sát
        </button>
        <button id="feedback-button" onclick="showFeedbackModal()">
            Các ý kiến đóng góp
        </button>
    </div>

    <table id="list-question" border="1px" cellspacing="0" cellpadding="5px"></table>
</div>
<script>
    let surveyCreated = Boolean(<%= session.survey.isCreated %>);
    let userInfo = {
        id: '<%= userInfo._id %>',
        fullName: '<%= userInfo.fullName %>'
    }
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="/lecturerQuestion/lecturerQuestion_1.js"></script>
<script src="/lecturerQuestion/lecturerQuestion_2.js"></script>
</body>
</html>